/*
 * -------------------------------------------------
 *  nf-core/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

tower {
  accessToken = 'a38587e67e86bd69833b572d139ec28fcb8bc1f3'
  enabled = false
}

manifest {
  name = 'niourk'
  author = 'dooguypapua @Kave'
  homePage = ''
  description = ''
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '2.0.1'
}

// Global default params, used in configs
params {
  // Input & Output
  path_bam = ""
  path_out = ""

  // Reference Genome
  genome = ""
  mito = false

  // Sequencing
  wgs = false
  platform = ""
  path_bed = ""
  path_genes = ""

  // Tools
  path_elprep = "/home/dooguy/Tools/elprep"
  path_elprep_files = "/media/dooguy/ExtDB/GATK_bundle"
  path_gatk = "/home/dooguy/Tools/gatk/gatk"
  path_tvc = "/home/dooguy/Tools/tvc-5.10.1.sp1/bin/tvc"
  version_deepvariant = "0.9.0"
  path_strelka = "/home/dooguy/Tools/strelka-2.9.10/bin/configureStrelkaGermlineWorkflow.py"
  path_samtools = "/usr/bin/samtools"
  path_bedtools = "/usr/bin/bedtools"
  path_mosdepth = "/home/dooguy/Tools/mosdepth/mosdepth"
  path_vt = "/home/dooguy/Tools/vt_v0.5/vt"
  path_vep = "/home/dooguy/Tools/ensembl-vep"
  path_vep_cache = "/mnt/papua/db/VEP_cache"
  path_vep_plugin_files = "/media/dooguy/ExtDB/VEP_plugins_files/currentVersion_link"
  path_vcfanno = "/home/dooguy/Tools/vcfanno_v0.3.2"
  path_vcfvalidator = "/home/dooguy/Tools/vcf_validator"

  // Depth
  padding = 10

  // Calling
  min_baseq = 10
  min_mapq = 20
  min_af = 0.01
  min_cov = 10
  min_varcov = 1
  min_varscore = 10
  max_sb = 0.99

  monochrome = false
  help = false

  // Base specifications
  cpus = 4 
  max_cpus = Runtime.runtime.availableProcessors()
  max_memory = 28.GB
  max_time = 240.h
  singleCPUMem = 4.GB
}

// Load process.config by default for all pipelines
includeConfig 'conf/process.config'



// Return the minimum between requirements and a maximum limit to ensure that resource requirements don't go over
def check_resource(obj) {
    try {
      if (obj.getClass() == nextflow.util.MemoryUnit && obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else if (obj.getClass() == nextflow.util.Duration && obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else if (obj.getClass() == java.lang.Integer)
        return Math.min(obj, params.max_cpus as int)
      else
        return obj
    } catch (all) {
        println "   ### ERROR ###   Max params max_memory:'${params.max_memory}', max_time:'${params.max_time}' or max_cpus:'${params.max_cpus}'  is not valid! Using default value: $obj"
    }
}